html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 12px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Coda", system-ui;
}
h1 {
  font-size: 60px;
  text-align: center;
  color: #0dbcb3;
  text-shadow: 3px 3px 1px black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #0dbcb3;
}
body {
  width: 80%;
  margin: 0 auto;
  background-color: #e9eac7;
  padding: 0 20px 20px 20px;
  border: 5px solid rgb(255, 255, 255);
}
